## 1.3 Getting Data in the Right Shape: Pre-processing and Cleaning

In [ ]:
data_file = '~/data/titanic/train.csv'

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv(data_file)

data.head()

In [ ]:
len(data)

In [ ]:
data.count()

In [ ]:
data.duplicated().value_counts()

In [ ]:
data['Ticket'].duplicated().value_counts()

In [ ]:
data[data['Ticket'].duplicated()].head()

In [ ]:
data[data['Ticket'] == '349909']

#### Dropping rows with missing data

In [ ]:
data.dropna().head()

In [ ]:
data.dropna(how='all').head()

#### Dropping columns with missing data

In [ ]:
data['XYZ'] = np.nan
data.head()

In [ ]:
data = data.dropna(how='all', axis=1)
data.head()

#### Filling in missing data

In [ ]:
data['Age'].count()

In [ ]:
data['Age'].mean()

In [ ]:
data['Age'] = data['Age'].fillna(-1000)

In [ ]:
data['Age'].mean()

#### Transforming data

In [ ]:
data['Embarked'].value_counts()

In [ ]:
data['Embarked'].count()

In [ ]:
data['Embarked'] = data['Embarked'].fillna('U')

In [ ]:
port_names = {
    'S': 'Southampton',
    'C': 'Cherbourg',
    'Q': 'Queenstown',
    'U': 'Unknown'
}

data['Embarked'] = data['Embarked'].map(lambda x: port_names[x])

# .map() for Series, .applymap() for DataFrame

data.head()